.place__title {
  width: 500px;
  margin: 0;
  padding-bottom: 48px;
  font-size: 72px;
  line-height: 110%;
  text-align: start;
  font-weight: 900;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .place__title {
    width: 420px;
    font-size: 72px;
    line-height: 110%;
  }
}


@media screen and (max-width: 968px) {
  .place__title {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 3.024rem;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 189%;
    padding: 0 1rem 0;
    width: 288px;
  }
}