.places {
  display: grid;
  gap: 5.04rem;
  width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 720px;
    gap: 4.599rem;
  }
}

@media screen and (max-width: 584px) {
  .places {
    width: 550px;
    gap: 4.599rem;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 400px;
    gap: 4.599rem;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    gap: 1.512rem;
  }
}