.places {
  display: grid;
  gap: 7.04rem;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    gap: 4.599rem;
  }
}

@media screen and (max-width: 584px) {
  .places {
    max-width: fit-content;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    gap: 3.087rem;
  }
}