.place__image {
  width: 460px;
  max-height: 460px;
  grid-column: 1;
  grid-row: 2/-1;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 968px) {
  .place__image {
    width: 100%;
  }
}

@media screen and (max-width: 952px) {
  .place__image {
    max-height: 23.814rem;
  }
}

@media screen and (max-width: 600px) {
  .place__image {
    max-width: 34.02rem;
    max-height: 34.02rem;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}