.root__cover {
  margin: 5.796rem auto 0;
}

@media screen and (max-width: 1280px) {
  .root__cover {
    margin: 5.796rem 3.024rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .root__cover {
    margin: 5.796rem 0 0;
  }
}

@media screen and (max-width: 768px) {
  .root__cover {
    margin: 5.67rem 0 0;
  }
}

@media screen and (max-width: 320px) {
  .root__cover {
    margin: 4.158rem 0 0;
  }
}