.root__cover {
  margin: 5.796rem auto 0;
}

@media screen and (max-width: 1280px) {
  .root__cover {
    margin: 0;
    padding: 5.796rem 3rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .root__cover {
    padding: 5.796rem 0 0;
  }
}

@media screen and (max-width: 768px) {
  .root__cover {
    padding: 4.02rem 0 0;
  }
}

@media screen and (max-width: 320px) {
  .root__cover {
    padding: 4.158rem 0 0;
  }
}