.footer__copyright {
  margin: 0;
  text-align: end;
  font-size: 14px;
  line-height: 114%;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 575px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 100%;
    text-align: start;
    min-width: 186px;
    padding-top: 1.008rem;
  }
}