.root {
  margin: 0 auto 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2A2C2F;
}

/*@media screen and (max-width: 1024px) {
  .root {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .root {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .root {
    max-width: 320px;
  }
}*/