.root__lead {
  margin: 0;
  padding: 3.528rem 9.324rem 0;
}

@media screen and (max-width: 1024px) {
  .root__lead {
    padding: 3.024rem 3.024rem 0;
  }
}

@media screen and (max-width: 768px) {
  .root__lead {
    padding: 3.024rem 0 0;
  }
}