.place__link {
  font-size: 30px;
  line-height: 122%;
  font-weight: 400;
  color: #ffffff;
  text-decoration-line: underline;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .place__link {
    font-size: 18px;
  }
}