.root__places {
  margin: 5.796rem 9.324rem 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .root__places {
    margin: 5.796rem 3.024rem 0;
  }
}

@media screen and (max-width: 768px) {
  .root__places {
    margin: 5.544rem 1.512rem 0;
  }
}

@media screen and (max-width: 421px) {
  .root__places {
    margin: 5.544rem  0.5rem 0;
  }
}

@media screen and (max-width: 320px) {
  .root__places {
    margin: 4.032rem 0 0;
  }
}